.main{

    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
   width: 1525px;
   height: 700px;
   justify-content: space-between;
}
.header{

    width: 708px;
    flex-direction:column;
    margin: 0 100px;
    display: flex;
    align-items: flex-start;

}
.header-title{
    color: #272727;
font-size: 90px;
font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.btn-universal{
    color: #FFF;
font-size: 20px;
font-weight: 700;
background: #E55473;
border: 0;
padding: 20px 43px;
gap: 10px;
border-radius: 9px;
} 

/* 1st section  */
.section-1-main{

    width: 100%;
}
.section-1{
    text-align: center;
    width: 600px;
    margin-top: 150px;
    margin: auto;
}

.item-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    
   }

.section-1-img{
   align-items: center;
   display: flex;
   justify-content: space-around;
   /* margin: 50px 150px; */
}
.img-2{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
 .img-2 img{
    margin: 60px 80px;
 }

.img-3{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.img-3 img{
    margin: 49px 60px;}

.img-4{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.img-4 img{
    margin: 50px 90px;
}






/* section deal */

.hot-deal{

    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 200px 0px;
    justify-content: space-around;

}
.deal-description{
    text-align: center;
    width: 500px;
}
.deal-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.span-color{
    color: #E55473;
}
.deal-details{

}

/* instagram section  */
.insta{
    margin-top: 200px;
}

.insta-pic{
    align-items: center;
    display: flex;
    justify-content:space-around;
}
.insta-title{
    margin: auto;
    width: 700px;
    text-align: center;
}
.insta-description{
    margin-top: 40px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* cupon section  */

.cupon{

    background-image: url("/Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin: 200px 250px;
}

.cupon-item{
    text-align: center;
    top: 30%;
    position: relative;
}

.cupon-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.cupon-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;


}
.email-box{
    border-radius: 8px;
    background: #FFF;
    width: 37%;
padding: 20px;
border: none;
}

/* footer section  */
.footer{
   display: flex;
   background: #111010;
   align-items: center;
   text-align: center;
   height: 500px;
}

.footer-items{
    width: 100%;
}
.footer-title{

    color: #FFF;
    margin: 40px 0;

}
.footer-title-color{
    color: #E55473;
}
.footer-description{
    color:rgba(255, 255, 255, 0.90);
    margin: 20px 0;

}
.warning{

    color: rgba(255, 255, 255, 0.40);
}












